body {background-color: rgb(51, 50, 50);
      margin:0px;
      height:100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    
}


.playerPoint, .computerPoint {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(6, 1, 34);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    max-height: fit-content;
    max-width: fit-content;
}

.btn {
    margin: 20px;
    padding: 10px;
    color: rgb(241, 233, 233);
    background-color: rgb(51, 50, 50);

   text-align: center;

    font-size: 50px;
    font-weight: bolder;

    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(78, 38, 209);
    border-style: solid;
}

.btn:hover {
    background: #f44336;
    color: white;
  }