body {background-color: rgb(51, 50, 50);
      margin:0px;
      height:100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-evenly;

    max-height: fit-content;
    max-width: fit-content;
}

.display {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;

}

.btn {
    margin: 20px;
    padding: 5px;
    color: rgb(236, 106, 106);
    background-color: rgb(51, 50, 50);

    font-size: 50px;
    font-weight: bolder;

    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(20, 243, 0);
    border-style: solid;
}

.btn:hover {
    background: #f44336;
    color: white;
  }